<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanyan.mapper.SchoolMapper">

    <resultMap id="BaseResultMap" type="com.yanyan.domain.School">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="ranking" column="ranking" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="officialwebsite" column="officialWebsite" jdbcType="VARCHAR"/>
            <result property="is211" column="is_211" jdbcType="TINYINT"/>
            <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,location,
        ranking,description,officialWebsite,
        is_211,img_url
    </sql>
</mapper>
